html,
body {
    height: 100%;
}

#user {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    font-size: .5rem;
    color: #fff;
    background-color: #0CC440;
    height: 1.375rem;
    text-align: center;
    line-height: 1.375rem;
}
main {
    flex: 1;
    border-top: .15625rem #F1F1F1 solid;
    border-bottom: .15625rem #F1F1F1 solid;
    /* display: flex;
    flex-direction: column; */
    overflow: auto;
}

main div {
    height: 2.34375rem;
}

main div img {
    width: 1.484375rem;
    height: 1.484375rem;
    margin: .53125rem .296875rem 0 .359375rem;
    float: left;
}

main div h2 {
    width: 6.09375rem;
    float: left;
    font-size: .40625rem;
    padding-top: .6875rem;
}

main div p {
    float: left;
    line-height: 1.15625rem;
    color: #989898;
    font-size: .34375rem;
}
main nav {
    height: .8125rem;
    display: flex;

}

main nav a {
    flex: 1;
    text-align: center;
    font-size: .34375rem;
    color: #656563;
    line-height: .8125rem;
}

main nav a:active {
    color: #0CC43E;
    border-bottom: #0CC43E .078125rem solid;
}