ul{
    width: 978px;
    height: 42px;
    border-bottom: 5px solid #FBB017;
    margin: 100px auto;
}
li{
    float: left;
}
a{
    display: block;
    width: 154px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #5E5A4F;
    font-size: 12px;
    border-right: #A7A6AC 1px solid;
    background: #C5C5C7;
}
a:hover{
    background: #FBB017;
}
*{box-sizing: border-box;}